body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
    padding: 0;
    margin: 10px;
    font-size: 35px;
    position: absolute;
    width: calc(100% - 20px);
    overflow: hidden;
}

#main {
    height: 98vh;
    /* width: 480px;
    max-height: 800px;
    overflow: hidden; */
    /* border: 1px dashed white; */
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 72px;
    margin: 0;
    padding: 0;
}

#date {
    font-size: 36px;
}

#sunrise-sunset {
    position: relative;
    top: -16px;
    font-size: 24px;
}

#sunrise-sunset > img {
    position: relative;
    top: 14px;
}

#sunrise-sunset > svg {
    position: relative;
    top: 7px;
    margin-left: 12px;
}


#time {
    font-size: 64px;
}

#news-scroller {
    position: absolute;
    top: 740px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    /* opacity: 0; */
    /* transition: opacity 750ms ease-in-out; */
}

.news {
    position: relative;
    width:max-content;
}

.news img {
    /* width: 100%; */
    float: right;
    /* max-height: 100px; */
    max-width: 150px;
    margin-left: 15px;
}

.news>p {
    margin-top:5px;
}

.news .article {
    font-size: 30px;
    width: 500px;
    margin-right: 50px;
    float: left;
}

#traffic {
    position: absolute;
    top: 710px;
}


#news img::before {
    width: 165px;
    height: 100px;
    background-image: url('/static/img/news.png');
}

#pollen {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 300px;
    height: 500px;
}

#milky-way {
    position: absolute;
    top: 0px;
    left: 500px;
}

#weather {
    position: absolute;
    display: flex;
    left: 0px;
    top: 200px;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
}

#minute-forecast {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
}

#current {
    margin: 0;
    top: 60px;
    position: absolute;
}

#current-temperature {
    font-size: 76px;
    display: flex;
    justify-content: center;
}

/* #current-feels-like {
    font-size: 18px;
    margin: 0;
    display: flex;
    justify-content: center;
} */

#current-description {
    display: flex;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

#humidity {
    font-size:24px;
    color: #FFF;
    display: flex;
    justify-content: center;
}

#forecast {
    position:absolute;
    top: 100px;
    left: 500px;
    width: 100%;
}

#hourlyForecast {
    height: 120px;
    width: 940px;
    margin-bottom: 5px;
}

#hourlyForecast>.temp {
    height: 50px;
    width: 36px;
    float: left;
    border: solid 1px black;    
    overflow: hidden;
}

.forecast-description {
    position: absolute;
    left: 130px;
}

.forecast-low {
    position: absolute;
    left: 400px;
    padding: 0 5px;
    color: black;
    border-radius: 10px;
}

.forecast-high {
    position: absolute;
    left: 480px;
    padding: 0 5px;
    color: black;
    border-radius: 10px;
}

.forecast svg {
    height: 50px;
    position: absolute;
}

.weekday {
    position: absolute;
}

.forecast>img {
    position: relative; 
    left: 75px;
    top: 2px;
}
