:root {
    --news-height: 0px;
    --scroll-time: 0s;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
    color: white;
    padding: 0;
    margin: 10px;
    font-size: 26px;
    position: absolute;
    width: calc(100% - 20px);
}

#main {
    height: 98vh;
    /* width: 480px;
    max-height: 800px;
    overflow: hidden; */
    /* border: 1px dashed white; */
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 72px;
    margin: 0;
    padding: 0;
}

#date {
    font-size: 36px;
}

#sunrise-sunset {
    position: relative;
    top: -16px;
    font-size: 24px;
}

#sunrise-sunset > img {
    position: relative;
    top: 14px;
}

#sunrise-sunset > svg {
    position: relative;
    top: 7px;
    margin-left: 12px;
}


#time {
    font-size: 64px;
}

#news-scroller {
    position: absolute;
    top: 0px;
    left: 1400px;
    height: 100%;
    overflow: hidden;
    /* opacity: 0; */
    /* transition: opacity 750ms ease-in-out; */
}

.news {
    position: relative;
    
    animation-duration: var(--scroll-time);
    /* animation-duration: 1s; */

    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: news-scroll;
}

@keyframes news-scroll {
    from {
        top: 0px;
    }

    to {
        top: var(--news-height);
        /* top: -10px; */
    }
}

/* #news.is-visible {
    opacity: 1;
    transition: opacity 750ms ease-in-out;
} 
*/

.news img {
    /* width: 100%; */
    float: right;
    /* max-height: 100px; */
    max-width: 150px;
    margin-left: 15px;
}

.news>p {
    margin-top:5px;
}

.news .article {
    display: inline-block;
    width: 100%;
    font-size: 30px;
    margin-bottom: 30px;
}

#traffic {
    position: absolute;
    top: 710px;
}


#news img::before {
    width: 165px;
    height: 100px;
    background-image: url('/static/img/news.png');
}

#pollen {
    position: absolute;
    top: 400px;
    left: 736px;
    width: 200px;
    height: 250px;
}

#milky-way {
    position: absolute;
    top: 170px;
}

#weather {
    position: absolute;
    display: flex;
    left: 760px;
    top: 0px;
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
}

#minute-forecast {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 150px;
}

#current-temperature {
    font-size: 46px;
    position: absolute;
    top: 24px;
    left: 48px;
}

#current-feels-like {
    font-size: 17px;
    position: absolute;
    top: 62px;
    left: 63px;
}

#current-other {
    position: absolute;
    bottom: 10px;
    left:20px;
}

#humidity {
    position: absolute;
    bottom: 17px;
    font-size:24px;
    color: #FFF;
}

#forecast {
    position:absolute;
    top: 280px;
    width: 100%;
}

#hourlyForecast {
    height: 120px;
    width: 940px;
    margin-bottom: 5px;
}

#hourlyForecast>.temp {
    height: 50px;
    width: 36px;
    float: left;
    border: solid 1px black;    
    overflow: hidden;
}

.forecast-description {
    position: absolute;
    left: 110px;
}

.forecast-low {
    position: absolute;
    left: 320px;
}

.forecast-high {
    position: absolute;
    left: 400px;
}


p.forecast:last-child>span {
    background: -webkit-linear-gradient(rgba(255,255,255,100%), rgba(255,255,255,80%), rgba(0,0,0,0%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.weekday {
    position: absolute;
}

.forecast>img {
    position: relative; 
    left: 55px;
    top: 2px;
}
